.box {
  position: relative;
  width: 150px;
  height: 33px;
  bottom: -13px;
  background: rgba(175, 175, 175, 0.75);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  outline: none;
}

.box:active,
.box:focus {
  outline: none;
  box-shadow: none
}

.boxEmp {
  position: relative;
  bottom: -13px;
  width: 150px;
  height: 33px;
  background: rgba(87, 87, 87, 0.75);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  outline: none;
}

.boxEmp:active,
.boxEmp:focus {
  outline: none;
  box-shadow: none
}

.box::after {
  content: '';
  position: absolute;
  width: 900px;
  height: 900px;
  background-image: conic-gradient(transparent,
      transparent,
      transparent,
      #20c225);
  animation: animate 2s linear infinite;
  animation-delay: -1s;
}

.box::before {
  content: '';
  position: absolute;
  width: 900px;
  height: 900px;
  background-image: conic-gradient(transparent,
      transparent,
      transparent,
      #00ff48);
  animation: animate 2s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.box span {
  position: absolute;
  inset: 2px;
  background: #424242;
  border-radius: 16px;
  padding: 5px;
  display: flex;
  justify-items: center;
  align-items: center;
  color: #fff;
  z-index: 1;
}

.box span *{
  position: relative;
  left: 8px;
}